*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
    font-weight: 600;
}

.name{
    color: orange;
}

.header{
    display: flex;
    height: 600px;
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.column-1{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    padding-top: 50px;    
}

.column-1 p{
    padding-bottom: 25px;
    color: dimgray;
}

.column-1 h1{
    margin-bottom: 30px;
}

.column-1 h3{
    margin-top: 20px;
    margin-bottom: 20px;
}

.column-2{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}

.column-2 img{
    width: 100%;
}

.button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 15px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}


.dream{
    display: flex;
    height: 600px;
    background-image: url(img/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.img-area img{
    width: 100%;
}

.text-area{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    padding-top: 50px;
}

.text-area h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.text-area h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 25px;
}

.text-area p{
    color: dimgray;
    margin-bottom: 25px;
}

.img-area{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}

.experience{
    margin-bottom: 200px;
    height: 450px;
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: 75%;
}

.experience .experience-heading{
    font-size: 40px;
    font-weight: 600;
}

.experience .content{
    display: flex;
}

.experience .column1{
    width: 40%;
    margin-left: 4.25%;
    padding-left: 2.75%;
    box-shadow: 5px 7px 40px grey;
    height: 380px;
    padding-top: 20px;
    padding-right: 10px;
    border-left: 7px solid tomato;
}

.experience .column1 h2, .experience .column2 h2{
    font-size: 40px;
    font-weight: 600;
    margin: 30px 0px 50px 0px;
}

.experience .column1 h3, .experience .column2 h3{
    margin: 20px 0px;
    color: orange;
    font-weight: 600;
}

.experience .column1 p, .experience .column2 p{
    color: dimgray;
    line-height: 25px;
}

.experience .column2{
    width: 40%;
    margin-left: 4.25%;
    padding-left: 2.75%;
    box-shadow: 5px 7px 40px grey;
    height: 380px;
    padding-top: 20px;
    padding-right: 10px;
    border-left: 7px solid #0000FF;
}

.experience-heading{
    text-align: center;
    padding-bottom: 50px;
}

footer {
    text-align: center;
    color: dimgray;
    margin-bottom: 30px;
}