*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
    font-weight: 600;
}

.name{
    color: orange;
}

.header{
    display: flex;
    height: 600px;
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.column-1{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    padding-top: 50px;    
}

.column-1 p{
    padding-bottom: 25px;
    color: dimgray;
}

.column-1 h1{
    margin-bottom: 30px;
}

.column-1 h3{
    margin-top: 20px;
    margin-bottom: 20px;
}

.column-2{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}

.column-2 img{
    width: 100%;
}

.button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 15px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}


.dream{
    display: flex;
    height: 600px;
    background-image: url(img/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.img-area img{
    width: 100%;
}

.text-area{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    padding-top: 50px;
}

.text-area h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.text-area h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 25px;
}

.text-area p{
    color: dimgray;
    margin-bottom: 25px;
}

.img-area{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}

.experience{
    margin-bottom: 200px;
    height: 450px;
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: 75%;
}

.experience .experience-heading{
    font-size: 40px;
    font-weight: 600;
}

.experience .content{
    display: flex;
}

.experience .column1{
    width: 40%;
    margin-left: 4.25%;
    padding-left: 2.75%;
    box-shadow: 5px 7px 40px grey;
    height: 380px;
    padding-top: 20px;
    padding-right: 10px;
    border-left: 7px solid tomato;
}

.experience .column1 h2, .experience .column2 h2{
    font-size: 40px;
    font-weight: 600;
    margin: 30px 0px 50px 0px;
}

.experience .column1 h3, .experience .column2 h3{
    margin: 20px 0px;
    color: orange;
    font-weight: 600;
}

.experience .column1 p, .experience .column2 p{
    color: dimgray;
    line-height: 25px;
}

.experience .column2{
    width: 40%;
    margin-left: 4.25%;
    padding-left: 2.75%;
    box-shadow: 5px 7px 40px grey;
    height: 380px;
    padding-top: 20px;
    padding-right: 10px;
    border-left: 7px solid #0000FF;
}

.experience-heading{
    text-align: center;
    padding-bottom: 50px;
}

footer {
    text-align: center;
    color: dimgray;
    margin-bottom: 30px;
}

/* responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    h1 {
        font-size: 45px;
    }

    .column-2,.column-1{
        width: 100%;
    }
    .header{
        display: inline-block;
        height: auto;
        background-image: url(img/top-banner.png);
        background-repeat: no-repeat;
        margin-bottom: 50px;
    }
    .header .column-1{
        text-align: center;
        padding: 0;
        margin-left: 0;
        padding-top: 50px;
    }
    .column-1 h1 {
        margin-bottom: 0;
    }

    .column-1 p {
        padding-bottom: 50px;
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .column-2 {
        margin-left: 0;
        padding-left: 0;
    }

    .column-2 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        padding-top: 50px;
    }

    .img-area {
        display: none;
    }

    .text-area {
        width: 100%;
        margin-left: 0;
        padding-left: 0;
        padding-top: 0px;
        text-align: center;
    }

    .text-area p {
        font-size: 14px;
    }

    .dream {
        display: flex;
        height: auto;
        background-image: none;
        margin-bottom: 100px;
    }

    .text-area h2 {
        margin-bottom: 20px;
    }

    .text-area p {
        color: dimgray;
        margin-bottom: 50px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .experience .content {
        display: block;
    }

    .experience .column1 {
            width: 80%;
            margin-left: 6%;
            padding-top: 20px;
            padding-right: 10px;
            height: auto;
            padding-bottom: 20px;
            margin-bottom: 50px;
    }

    .experience .column2 {
        width: 80%;
        margin-left: 6%;
        padding-top: 20px;
        padding-right: 10px;
        height: auto;
        padding-bottom: 20px;
    }

    .experience-heading {
        padding-bottom: 35px;
    }

    .experience .column1 h2, .experience .column2 h2 {
        font-size: 34px;
        font-weight: 600;
        margin: 25px 0px 20px 0px;
    }

    .experience {
        background-image: none;
        height: auto;
    }

    .experience {
        margin-bottom: 70px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}